extends ./_layout-root.pug

block header
  header.header
    .container-content
      h1.name Om Prakash
      h2.job-title Software Engineer

block footer
  footer.footer
    .container
      .section
        p.text-center &copy; 
          a(href="/") Om Prakash
          | - Built with 
          a(href="https://mmpilot.kunruchcreations.com/" target="_blank") 
          |MMPilot

block content
  .container-readable!= page.content