---
layout: 'default'
title: 'Home'
description: 'This is a basic starter template for MMPilot which includes MMCSS Framework'
---
.container-content.content
  p
    span(style="color:#38473a; font-weight:bold;") Hello There,
    |  I am results-oriented Web Application Developer with training and experience in website design, layout and in all stages of  design, coding, testing of web applications.

.sub-heading
  .grid.section.container-content.sub-heading.content
    .one-third
      h3.heading-text-color
        span.bullet &#9632;
        |contact
      ul.bare
        li Twitter:
          a(href="https://twitter.com/omsayhi") omsayhi
        li GitHub: 
          a(href="https://github.com/ompr93") ompr93 
    .one-third
      h3.heading-text-color
        span.bullet &#9632; 
        |Skills
      ul.bare
        li
          .skill-text HTML
          .skill
            .skill-bar(style="width:60%;")
        li
          .skill-text CSS
          .skill
            .skill-bar(style="width:50%;")

        li
          .skill-text JavaScript
          .skill
            .skill-bar(style="width:40%")

        li
          .skill-text SASS
          .skill
            .skill-bar(style="width:20%;")

    .one-third
      h3.heading-text-color
        span.bullet &#9632;
        | Languages
          
      ul.bare
        li English
        li.language Professional Working
          br 
          |Proficiency
        li Hindi
        li.language Native or bilingual
          br 
          |proficiency

.container-content
  h3.heading-text-color
    span.bullet &#9632; 
    |Experience
  ul.bare
    li 2017-2018
      span.experience Kunruch Creations               
    li.designation Consultant Software Engineer
    li.experience-detail I am working with Kunruch Creations as an        Consultant Software Engineer and uses technologies like HTML, CSS, MMCSS,SASS JavaScript etc.
      br
      br
    li 2014-2015
      span.experience Sbsc Pvt. Ltd.
    li.designation Software Trainee
    li.experience-detail During 5 months of Software trainee at Sbsc, located in Gurgaon. I have done a Payroll Management System project using Asp.net, C#, SQL, CSS, HTML.
  h3.heading-text-color
    span.bullet &#9632;
    |Education
  ul.bare
    li 2015-2017
      span.education Nalanda College
    li.designation MBA in HRM and Marketing
    li.education-detail I am pursuing MBA in HRM and Marketing in the final semester of Nalanda college, located in Biharsharif.
    li 2010-2014
      span.education Dr. BC Roy Engg. College    
    li.designation B.tech in IT
    li.education-detail I have completed my degree in Information Technology from Dr. Bc Roy Engineering college, located in Durgapur.
    li 2008-2010
      span.education PCP Inter Science College
    li.designation Intermediate in Science
    li.education-detail I have completed my XIIth from PCP Inter Science |College, located in Biharsharif.
    


  

