---
layout: 'default'
title: 'Home'
description: 'This is a basic starter template for MMPilot which includes MMCSS Framework'
---
.container-content.content
  p
    span(style="color:#38473a; font-weight:bold;") Hello There,
    |  I am results-oriented Web Application Devloper        
    | with training and experience in website design, layout and in all stages of design, coding,
    | testing of web applications.
.sub-heading
  .grid.section.container-content.sub-heading.content
    .one-third
      h3.heading-text-color
      span.bullet &#9632; 

